NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id
NEXT_PUBLIC_TRUSTWARE_API_KEY=tw_live_or_test_key
NEXT_PUBLIC_TRUSTWARE_TO_CHAIN=8453
NEXT_PUBLIC_TRUSTWARE_TO_TOKEN=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
